<style>
    input[type="file"]:enabled{
        background-color: lightgoldenrodyellow;
        color: black;
        border-color: black;
        height: 45px;
    }
    #uploadBtn:disabled{
        background-color: lightgoldenrodyellow;
        color: black;
        border-color: black;
        height: 45px;
    }

    </style>
<div class="container text-center">
    <h1>ENVIAR DOCUMENTO A JEFATURA PARA REVISION</h1>
    <form action="/crearDocumento/enviarDocumento" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" class="form-control" id="pdfFile" name="pdfFile" accept=".pdf" onchange="checkPDF()">
            <button class="btn btn-outline-propio1 ml-2" type="submit" id="uploadBtn" disabled>Subir</button>
        </div>
    </form>
</div>

<script>
    function checkPDF() {
        const fileInput = document.getElementById('pdfFile');
        const uploadBtn = document.getElementById('uploadBtn');

        if (fileInput.files.length > 0) {
            uploadBtn.disabled = false;
            pdfFile.style.backgroundColor = 'lightcoral';
            pdfFile.style.borderColor = 'white';
            pdfFile.style.color = 'white';


        } else {
            uploadBtn.disabled = true;
            pdfFile.style.backgroundColor = 'lightgoldenrodyellow';
            pdfFile.style.borderColor = 'black';
            pdfFile.style.color = 'black';
        }
    }
</script>