<div class="container">
    <h2 class="text-center mb-4">Formulario de Creación de Documento</h2>
    <form action="" method="post" id="formularioAlumnos">
        <div class="mb-4 pb-2 border-bottom">
            <h3 class="text-center">Tutor-Alumnado</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tutorAlumno">Tutor del Alumno:</label>
                        <input type="text" class="form-control" id="tutorAlumno" name="tutorAlumno" th:value="${solicitud.usuario.nombre}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cicloFormativoAlumno">Ciclo Formativo del Alumno:</label>
                        <input type="text" class="form-control" id="cicloFormativoAlumno" name="cicloFormativoAlumno" th:value="${solicitud.cicloFormativo}"
                            required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información de la empresa -->
        <div class="mb-4 pb-2 border-bottom">
            <h3 class="text-center">Datos de la Empresa</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numeroConvenio">Número de Convenio:</label>
                        <input type="text" class="form-control" id="numeroConvenio" name="numeroConvenio" th:value="${solicitud.numeroConvenio}" required>
                    </div>
                    <div class="form-group">
                        <label for="nombreEmpresa">Nombre de la Empresa:</label>
                        <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa"  th:value="${solicitud.empresa}" required>
                    </div>
                    <div class="form-group">
                        <label for="tutorEmpresa">Tutor de la Empresa:</label>
                        <input type="text" class="form-control" id="tutorEmpresa" name="tutorEmpresa" th:value="${solicitud.tutorEmpresa}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cifEmpresa">CIF de la Empresa:</label>
                        <input type="text" class="form-control" id="cifEmpresa" name="cifEmpresa"  th:value="${solicitud.cif}" required>
                    </div>
                    <div class="form-group">
                        <label for="direccionPracticas">Dirección de las Prácticas:</label>
                        <input type="text" class="form-control" id="direccionPracticas" name="direccionPracticas"  th:value="${solicitud.direccion}"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="localidadPracticas">Localidad de las Prácticas:</label>
                        <input type="text" class="form-control" id="localidadPracticas" name="localidadPracticas"  th:value="${solicitud.localidad}"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="codigoPostalPracticas">Código Postal de las Prácticas:</label>
                        <input type="text" class="form-control" id="codigoPostalPracticas" name="codigoPostalPracticas"  th:value="${solicitud.cp}"
                            required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información del alumno -->
        <div id="contenedorAlumnos">
            <div th:each="alumno : ${alumnos}">
                <div class="mb-4 pb-2 datos-alumno">
                    <h3 class="text-center">Datos del Alumno</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="apellidosAlumno">Apellidos del Alumno:</label>
                                <input type="text" class="form-control" id="apellidosAlumno" name="apellidosAlumno" th:value="${alumno.apellido}" required>
                            </div>
                            <div class="form-group">
                                <label for="nombreAlumno">Nombre del Alumno:</label>
                                <input type="text" class="form-control" id="nombreAlumno" name="nombreAlumno" th:value="${alumno.nombre}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nifAlumno">NIF del Alumno:</label>
                                <input type="text" class="form-control" id="nifAlumno" name="nifAlumno" th:value="${alumno.dni}" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Botón para agregar más alumnos -->
        <div class="text-center pb-2 mb-4 border-bottom">
            <button type="button" class="btn btn-secondary" id="agregarAlumno">Agregar otro alumno</button>
        </div>

        <!-- Fechas y Horarios -->
        <div class="mb-4 pb-2">
            <h3 class="text-center">Fechas y Horarios</h3>

            <div class="row border-bottom">
                <div class="col-md-5 border-right">
                    <!-- Campos de fechas y horarios -->
                    <div class="form-group">
                        <label for="horasTotales">Horas Totales:</label>
                        <input type="text" class="form-control" id="horasTotales" name="horasTotales" 
                       th:value="${solicitud.horasTotales}" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaInicio">Fecha de Inicio:</label>
                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" th:value="${solicitud.fechaInicio}" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaFin">Fecha de Fin:</label>
                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" th:value="${solicitud.fechaFin}" required>
                    </div>
                    <div class="form-group">
                        <label for="horasDia">Horas por Día:</label>
                        <input type="text" class="form-control" id="horasDia" name="horasDia" th:value="${solicitud.horasDia}" required>
                    </div>
                    <div class="form-group">
                        <label for="selectJefatura">Responsable de Jefatura:</label>
                        <select name="rolUsuario" class="form-control text-center ">
                            <option th:each="usuario : ${usuariosJefatura}" th:value="${usuario.id}"
                                th:text="${usuario.nombre + ' (' + usuario.correo + ')'}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-7">
                    <!-- Tabla de horarios -->
                    <div class="form-group">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="2">Primer horario</th>
                                    <th colspan="2">Segundo horario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Inicio</td>
                                    <td>Fin</td>
                                    <td>Inicio</td>
                                    <td>Fin</td>
                                    <td></td>
                                </tr>
                                <!-- Recorremos el texto y recogemos las horas -->
                                <!-- Lunes -->
                                <tr>
                                    <td>Lunes</td>
                                    <td><input type="time" class="form-control" name="lunesInicio1" th:value="${#strings.listSplit(solicitud.horario, '.')[0].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="lunesFin1" th:value="${#strings.listSplit(solicitud.horario, '.')[0].split(': ')[1].split(' - ')[1]}" required></td>
                                    <td><input type="time" class="form-control" name="lunesInicio2" th:value="${#strings.listSplit(solicitud.horario, '.')[5].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="lunesFin2" th:value="${#strings.listSplit(solicitud.horario, '.')[5].split(': ')[1].split(' - ')[1]}" required></td>
                                </tr>
                                <!-- Martes -->
                                <tr>
                                    <td>Martes</td>
                                    <td><input type="time" class="form-control" name="martesInicio1" th:value="${#strings.listSplit(solicitud.horario, '.')[1].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="martesFin1" th:value="${#strings.listSplit(solicitud.horario, '.')[1].split(': ')[1].split(' - ')[1]}" required></td>
                                    <td><input type="time" class="form-control" name="martesInicio2" th:value="${#strings.listSplit(solicitud.horario, '.')[6].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="martesFin2" th:value="${#strings.listSplit(solicitud.horario, '.')[6].split(': ')[1].split(' - ')[1]}" required></td>
                                </tr>
                                <!-- Miércoles -->
                                <tr>
                                    <td>Miércoles</td>
                                    <td><input type="time" class="form-control" name="miercolesInicio1" th:value="${#strings.listSplit(solicitud.horario, '.')[2].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="miercolesFin1" th:value="${#strings.listSplit(solicitud.horario, '.')[2].split(': ')[1].split(' - ')[1]}" required></td>
                                    <td><input type="time" class="form-control" name="miercolesInicio2" th:value="${#strings.listSplit(solicitud.horario, '.')[7].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="miercolesFin2" th:value="${#strings.listSplit(solicitud.horario, '.')[7].split(': ')[1].split(' - ')[1]}" required></td>
                                </tr>
                                <!-- Jueves -->
                                <tr>
                                    <td>Jueves</td>
                                    <td><input type="time" class="form-control" name="juevesInicio1" th:value="${#strings.listSplit(solicitud.horario, '.')[3].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="juevesFin1" th:value="${#strings.listSplit(solicitud.horario, '.')[3].split(': ')[1].split(' - ')[1]}" required></td>
                                    <td><input type="time" class="form-control" name="juevesInicio2" th:value="${#strings.listSplit(solicitud.horario, '.')[8].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="juevesFin2" th:value="${#strings.listSplit(solicitud.horario, '.')[8].split(': ')[1].split(' - ')[1]}" required></td>
                                </tr>
                                <!-- Viernes -->
                                <tr>
                                    <td>Viernes</td>
                                    <td><input type="time" class="form-control" name="viernesInicio1" th:value="${#strings.listSplit(solicitud.horario, '.')[4].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="viernesFin1" th:value="${#strings.listSplit(solicitud.horario, '.')[4].split(': ')[1].split(' - ')[1]}" required></td>
                                    <td><input type="time" class="form-control" name="viernesInicio2" th:value="${#strings.listSplit(solicitud.horario, '.')[9].split(': ')[1].split(' - ')[0]}" required></td>
                                    <td><input type="time" class="form-control" name="viernesFin2" th:value="${#strings.listSplit(solicitud.horario, '.')[9].split(': ')[1].split(' - ')[1]}" required></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><button type="button" class="btn btn-outline-propio1 mt-3 w-100 " id="copiarHoras">Copiar horas del lunes</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Opción para añadir PDF -->
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="opcion" id="opcionPDF" value="pdf">
            <label class="form-check-label" for="opcionPDF">Añadir PDF</label>
        </div>

        <!-- Opción para añadir Observaciones -->
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="opcion" id="opcionObservaciones" value="observaciones">
            <label class="form-check-label" for="opcionObservaciones">Observaciones</label>
        </div>

        <!-- Campo para subir PDF -->
        <div class="form-group" id="campoPDF" style="display: none;">
            <label for="archivoPDF">Subir archivo PDF:</label>
            <input type="file" class="form-control-file" id="archivoPDF" name="archivoPDF">
        </div>

        <!-- Campo para ingresar observaciones -->
        <div class="form-group" id="campoObservaciones" style="display: none;">
            <label for="observaciones">Observaciones:</label>
            <textarea class="form-control" id="observaciones" name="observaciones" rows="3"></textarea>
        </div>
        <input type="hidden" name="idSolicitud" th:value="${solicitud.idSolicitud}">
        <button type="submit" class="btn btn-outline-propio1 mt-3 w-100 " id="boton">Enviar Datos FCTs</button>
    </form>
</div>
