<div class="container">
    <h1>Lista de solicitudes y alumnos</h1>
</div>
<div class="ml-3 mr-3">
    <div class="input-group mt-2 mb-2">
        <select class="form-select search-attribute" aria-label="Seleccionar atributo de búsqueda">
            <option value="all">Todos</option>
            <option value="idSolicitud">Nº Solicitud</option>
            <option value="empresa">Empresa</option>
            <option value="numeroConvenio">Numero convenio</option>
            <option value="cicloFormativo">Ciclo Formativo</option>
            <option value="fechaInicio">Fecha Inicio</option>
            <option value="alumnos">Alumnos</option>
        </select>
        <input class="form-control search-tables" id="buscador" placeholder="Buscar..." type="text"/>
    </div>
    <div class="input-group mt-2 mb-2">
        <select class="form-select" id="pageSizeSelect" aria-label="Seleccionar tamaño de página" onchange="updatePageSize()">
            <option value="5" th:selected="${pageSize == 5}">5</option>
            <option value="10" th:selected="${pageSize == 10}">10</option>
            <option value="20" th:selected="${pageSize == 20}">20</option>
        </select>
    </div>
    <table id="solicitudes-table" class="table">
        <thead class="thead">
            <tr class="row">
                <!-- columnas de la tabla -->
            </tr>
        </thead>
        <tbody>
            <!-- Bucle de solicitudes -->
            <tr class="row solicitud-row" th:each="solicitud : ${solicitudes}">
                <!-- Fila de la solicitud -->
                <td class="col-2 small" data-attribute="idSolicitud" th:text="${solicitud.idSolicitud}"></td>
                <td class="col-2 small" data-attribute="empresa" th:text="${solicitud.empresa}"></td>
                <td class="col-2 small" data-attribute="numeroConvenio" th:text="${solicitud.numeroConvenio}"></td>
                <td class="col-2 small" data-attribute="cicloFormativo" th:text="${solicitud.cicloFormativo}"></td>
                <td class="col-2 small" data-attribute="fechaInicio" th:text="${solicitud.fechaInicio}"></td>
                <td class="col-1 small" data-attribute="alumnos">
                    <!-- Detalles de los alumnos -->
                    <details class="alumnos-details">
                        <summary><b>Mostrar alumnos</b></summary>
                        <!-- Lista de alumnos -->
                        <div class="alumnos-list">
                            <li class="alumno" th:each="alumno : ${solicitud.alumnos}">
                                <span th:text="${alumno.nombre}"></span> <span th:text="${alumno.apellido}"></span>
                            </li>
                        </div>
                    </details>
                </td>
                <td class="col-1 small"><a class="btn btn-outline-propio1" th:href="@{/enviarDatos/corregirDatosJefatura(id=${solicitud.idSolicitud})}">Gestionar</a></td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/enviarDatos/recibirDatosJefatura(page=${currentPage - 1}, size=${pageSize}, sort=${sortField}, dir=${sortDir})}">Anterior</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/enviarDatos/recibirDatosJefatura(page=${i}, size=${pageSize}, sort=${sortField}, dir=${sortDir})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/enviarDatos/recibirDatosJefatura(page=${currentPage + 1}, size=${pageSize}, sort=${sortField}, dir=${sortDir})}">Siguiente</a>
            </li>
        </ul>
    </nav>
    <a class="btn btn-outline-propio1 mb-2 col-2 mr-2" href="../">Volver</a>
</div>
