<div class="container">
    <h2 class="text-center mb-4">Solicitud FCT</h2>
    <form action="" method="post" id="solicitudFCT">
        <div class="mb-4 pb-2 border-bottom">
            <h3 class="text-center">Solicitud</h3>
            <div class="ml-3 mr-3">
                <table class="table">
                    <thead class="thead">
                        <tr class="row">
                            <th class="col-3">Nº Solicitud</th>
                            <th class="col-2">Empresa</th>
                            <th class="col-2">Numero convenio</th>
                            <th class="col-1">Ciclo Formativo</th>
                            <th class="col-2">Fecha Inicio</th>
                            <th class="col-2">Solicitud</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Bucle de solicitudes -->
                        <tr class="row solicitud-row">
                            <!-- Fila de la solicitud -->
                            <td class="col-3" th:text="${solicitud.idSolicitud}"></td>
                            <td class="col-2" th:text="${solicitud.empresa}"></td>
                            <td class="col-2" th:text="${solicitud.numeroConvenio}"></td>
                            <td class="col-1" th:text="${solicitud.cicloFormativo}"></td>
                            <td class="col-2" th:text="${solicitud.fechaInicio}"></td>
                            <td class="col-2">Pdf</td>
            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <!-- Opción para añadir PDF -->
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="opcion" id="opcionPDF" value="pdf">
            <label class="form-check-label" for="opcionPDF">Añadir PDF</label>
        </div>

        <!-- Opción para añadir Observaciones -->
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="opcion" id="opcionObservaciones" value="observaciones">
            <label class="form-check-label" for="opcionObservaciones">Observaciones</label>
        </div>

        <!-- Campo para subir PDF -->
        <div class="form-group" id="campoPDF" style="display: none;">
            <label for="archivoPDF">Subir archivo PDF:</label>
            <input type="file" class="form-control-file" id="archivoPDF" name="archivoPDF">
        </div>

        <!-- Campo para ingresar observaciones -->
        <div class="form-group" id="campoObservaciones" style="display: none;">
            <label for="observaciones">Observaciones:</label>
            <textarea class="form-control" id="observaciones" name="observaciones" rows="3"></textarea>
        </div>
        <input type="hidden" name="idSolicitud" th:value="${solicitud.idSolicitud}">
        <button type="submit" class="btn btn-outline-propio1 mt-3 w-100 " id="boton">Enviar Datos FCTs</button>
    </form>
</div>
