<div class="container">
    <div class="row justify-content-center"> <!-- Centra el contenido del formulario -->
        <div class="col-md-6"> <!-- Tamaño de columna medio para pantallas medianas -->
            <h1 class="text-center">CREAR USUARIO</h1>
            <form action="/inicioSesion/crearUsuario" method="post">
                <div class="form-group"> <!-- Agrupa los elementos del formulario -->
                    <label for="nombreAlumno">Nombre</label>
                    <input id="nombreAlumno" type="text" name="nombre" autofocus="autofocus" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="apellidosAlumno">Apellidos</label>
                    <input id="apellidosAlumno" type="text" name="apellido" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="id-correo">Correo</label>
                    <div class="input-group"> <!-- Agrupa el input de correo y el span -->
                        <input id="id-correo" type="text" name="correo" class="form-control" />
                        <div class="input-group-append">
                            <span class="input-group-text">@educa.madrid.org</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id-contrasenia">Contraseña</label>
                    <input id="id-contrasenia" type="password" name="contrasenia" class="form-control" />
                </div>

                <div class="form-group">
                    <select name="rol" class="form-control">
                        <option value="PROFESOR">Profesor</option>
                        <option value="JEFATURA">Jefatura</option>
                        <option value="DIRECTOR">Director</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <input class="btn btn-outline-propio1 btn-block" type="submit" value="Registrarse" />
                        </div>
                        <div class="col-6">
                            <a class="nav-link btn btn-outline-propio1 btn-block" href="/">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>