<nav class="container-fluid navbar navbar-expand-sm navbar-dark" id="navegacion">
    <a class="navbar-brand" href="/">
        <img src="/img/reyFernando.png" alt="INICIO" style="width:50px;">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light mr-2" href="/inicioSesion/inicioSesion" id="inicioSesion">Iniciar sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="/inicioSesion/registrarse" id="registrarse">Registrarse</a>
        </li>
    </ul>
</nav>
