<div class="container">

    <h1>Editar alumno</h1>

    <form action="/usuario/actualizarUsuario" method="post" id="formularioModUsuarios">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellidos del Usuario:</label>
                    <input type="text" class="form-control" id="apellidosAlumno" name="apellido" required th:value="${usuario.apellido}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre del Usuario:</label>
                    <input type="text" class="form-control" id="nombreAlumno" name="nombre" required th:value="${usuario.nombre}">
                </div>
            </div>
        </div>
        <br />
        <input type="hidden" name="idUsuario" th:value="${usuario.id}" />

        <div class="row">
            <input class="btn btn-outline-propio1 mb-2 col-4 mr-2" type="submit" value="Actualizar" id="boton"/>
            <button class="btn btn-outline-propio1 mb-2 col-4 mr-2" type="button" onclick="window.location.href='/usuario/gestionarUsuarios'">Cancelar</button>
        </div>
    </form>

</div>
