<div class="container">
    <h1>Lista de usuarios</h1>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>

        <tr th:each="usuario : ${usuarios}">
            
            <td th:text="${usuario.nombre}">
            <td th:text="${usuario.apellido}">
            <td th:text="${usuario.correo}">
            <td th:text="${usuario.rol}">

            <td>
                <button class="btn btn-outline-propio1 mb-2 col-4 mr-2" th:onclick="|window.location.href='/usuario/u?id=${usuario.id}'|">
                    <img src="/img/lapiz.png" height="20" width="20">
                </button>
            </td>
            
            <td>
                <form action="/usuario/d" method="post">
                    <input type="hidden" name="id" th:value="${usuario.id}">
                    <button class="btn btn-outline-propio1 mb-2 col-4 mr-2">
                        <img src="/img/basura.png" height="20" width="20">
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>