<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Descargar Archivo</title>
</head>
<body>
    <h2>Descargar Archivo</h2>
    <select id="archivoSelect"></select>
    <button onclick="descargarArchivo()">Descargar Archivo</button>

    <script>
        function descargarArchivo() {
            const nombreArchivo = document.getElementById('archivoSelect').value;
            window.location.href = `/descargar-archivo/${nombreArchivo}`;
        }
        fetch('/descargar-archivo/archivos-disponibles') // Corregido el endpoint
        .then(response => response.json())
        .then(archivos => {
            const select = document.getElementById('archivoSelect');
            archivos.forEach(archivo => {
                const option = document.createElement('option');
                option.value = archivo;
                option.textContent = archivo;
                select.appendChild(option);
            });
        })
        .catch(error => console.error('Error al obtener la lista de archivos:', error));
    </script>
</body>
</html>
