<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Descargar Archivo</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="archivoSelect">Seleccione un archivo:</label>
                            <select id="archivoSelect" class="form-control">
                                <!-- Options will be dynamically added here -->
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary" onclick="descargarArchivo()">Descargar Archivo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function descargarArchivo() {
        const nombreArchivo = document.getElementById("archivoSelect").value;
        window.location.href = `/documento/${nombreArchivo}`;
    }
    fetch("/documento/archivos-disponibles")
        .then((response) => response.json())
        .then((archivos) => {
            const select = document.getElementById("archivoSelect");
            archivos.forEach((archivo) => {
                const option = document.createElement("option");
                option.value = archivo;
                option.textContent = archivo;
                select.appendChild(option);
            });
        })
        .catch((error) =>
            console.error("Error al obtener la lista de archivos:", error)
        );
</script>
