body {
    background-color: lightgoldenrodyellow;
}

#navegacion {
    background-color: lightcoral;
}

#inicioSesion {
    color: white;
}

#inicioSesion:hover {
    color: black;
}

#registrarse {
    color: white;
}

#registrarse:hover {
    color: black;
}

.btn-outline-propio1 {
    color: black;
    border-color: black;
    background-color: lightgoldenrodyellow;
}

.btn-outline-propio1:hover {
    background-color: lightcoral;
    border-color: lightcoral;
    color: #ffffff;
}

#correoEduca {
    display: inline-block;
    vertical-align: middle;
}

#correoEduca {
    color: #666;
    font-style: italic;
}

/* Estilo personalizado para centrar verticalmente el card */
.card {
    margin-top: 150px; /* Espacio superior para mostrar el card en la página */
}

/* Estilo personalizado para centrar horizontalmente el card-body */
.centrar {
    display: flex;
    justify-content: center;
}
/* Subir archivo */
.subirArchivo {
    margin-top: 50px;
  }
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  form {
    max-width: 400px;
    margin: auto;
  }
  input[type="file"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  button[type="submit"] {
    display: block;
    width: 100%;
  }