<nav class="container-fluid navbar navbar-expand-sm navbar-dark" id="navegacion">
    <a class="navbar-brand" href="/">
        <img src="/img/reyFernando.png" alt="INICIO" style="width:50px;">
    </a>
    <ul class="navbar-nav ml-auto" th:if="${session.usuario==null}">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="/inicioSesion/inicioSesion" id="inicioSesion">Iniciar
                sesión</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" th:if="${session.usuario!=null}">
        <li class="nav-item mt-2" th:if="${session.usuario.rol != T(com.salvaceloisma.tfg.enumerados.RolUsuario).ALUMNO}">
            <i class="fa-solid fa-bell fa-2xl mr-2" style="color: #fafad2;"></i>
        </li>
        <li class="nav-item" th:if="${session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).ADMIN || session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).DIRECTOR}">
            <a class="nav-link btn btn-outline-light mr-2" th:if="${session.usuario!=null}"
                href="/inicioSesion/crearUsuario" id="registrarse">REGISTRAR USUARIO</a>
        </li>
        <li class="nav-item" th:if="${session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR || session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).ALUMNO}">
            <a class="nav-link btn btn-outline-light mr-2" th:if="${session.usuario!=null}"
                href="/inicioSesion/cambiarContrasenia" id="registrarse">CAMBIAR CONTRASEÑA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="/inicioSesion/logout" id="registrarse">LOGOUT</a>
            <span class="text-light " th:text="|Hola ${session.usuario.nombre} / ${session.usuario.rol} |">
        </li>
    </ul>
</nav>
