<div class="container">

    <h1>Editar alumno</h1>

    <form action="/alumno/u" method="post" id="formularioAlumnos">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellidos del Alumno:</label>
                    <input type="text" class="form-control" id="apellidosAlumno" name="apellido" required th:value="${alumno.apellido}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre del Alumno:</label>
                    <input type="text" class="form-control" id="nombreAlumno" name="nombre" required th:value="${alumno.nombre}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dni">NIF del Alumno:</label>
                    <input type="text" class="form-control" id="nifAlumno" name="dni" required th:value="${alumno.dni}">
                </div>
            </div>
        </div>
        <br />
        <input type="hidden" name="idAlumno" th:value="${alumno.id}" />

        <div class="row">
            <input class="btn btn-outline-propio1 mb-2 col-4 mr-2" type="submit" value="Actualizar" />
            <button class="btn btn-outline-propio1 mb-2 col-4 mr-2" type="button" onclick="window.location.href='/inicioSesion/gestionarAlumnos'">Cancelar</button>
        </div>
    </form>

</div>
