<div class="container">
  
    <h1>Editar alumno</h1>

    <form action="/alumno/u" method="post">
        <label for="id-dni" >DNI: </label>
        <input id="id-dni" type="text" name="dni" th:value="${alumno.dni}" autofocus="autofocus"/><br>
        <label for="id-nombre" >Nombre: </label>
        <input id="id-nombre" type="text" name="nombre" th:value="${alumno.nombre}"/><br>
        <label for="id-apellido" >Apellidos: </label>
        <input id="id-apellido" type="text" name="apellido" th:value="${alumno.apellido}"/><br>
        <label for="id-fechaNacimiento" >Fecha de nacimiento: </label>
        <input id="id-fechaNacimiento" type="date" name="fechaNacimiento" th:value="${alumno.fechaNacimiento}"/><br>
        <br/>
        <input type="hidden" name="idAlumno" th:value="${alumno.id}"/>

        <input class="btn btn-outline-propio1 mb-2 col-4 mr-2" type="submit" value="Actualizar"/>
        <button class="btn btn-outline-propio1 mb-2 col-4 mr-2" onclick="window.location.href='/'" >Cancelar</button>
    </form>
</div>