<div class="container">
    <h1>Solicitudes aprobadas</h1>
    <div class="ml-3 mr-3">
        <table class="table">
            <thead class="thead">
                <tr class="row">
                    <th class="col-2">Nº Solicitud</th>
                    <th class="col-1">Empresa</th>
                    <th class="col-1">Numero convenio</th>
                    <th class="col-1">Ciclo Formativo</th>
                    <th class="col-1">Fecha Inicio</th>
                    <th class="col-3">Solicitud</th>
                    <th class="col-3">Enviar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Bucle de solicitudes -->
                <tr class="row solicitud-row" th:each="mensaje : ${mensajes}" th:if="${mensaje.solicitud.estado == estadoAprobado}">
                    <!-- Fila de la solicitud -->
                    <td class="col-2 small" th:text="${mensaje.solicitud.idSolicitud}"></td>
                    <td class="col-1 small" th:text="${mensaje.solicitud.empresa}"></td>
                    <td class="col-1 small" th:text="${mensaje.solicitud.numeroConvenio}"></td>
                    <td class="col-1 small" th:text="${mensaje.solicitud.cicloFormativo}"></td>
                    <td class="col-1 small" th:text="${mensaje.solicitud.fechaInicio}"></td>
                    <td class="col-3 small">
                        <a th:href="@{/enviarDatos/descargarSolicitudAprobadaJefatura/{idSolicitud}(idSolicitud=${mensaje.solicitud.idSolicitud})}" class="btn btn-link btn-sm">
                            Descargar PDF
                        </a>
                    </td>
                    <td class="col-3 small">
                        <form action="/enviarDatos/solicitudListadoOk" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="idSolicitud" th:value="${mensaje.solicitud.idSolicitud}">
                            <input type="file" class="btn btn-sm" name="archivo">
                            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
