<div class="container ">
    <h1>Solicitudes Finalizadas</h1>
    </div>
    <div class="ml-3 mr-3">
    <table class="table">
        <thead class="thead">
            <tr class="row">
                <th class="col-2">Nº Solicitud</th>
                <th class="col-1">Empresa</th>
                <th class="col-1">Numero convenio</th>
                <th class="col-1">Ciclo Formativo</th>
                <th class="col-1">Fecha Inicio</th>
                <th class="col-2">Estado</th>
                <th class="col-2">Alumnos</th>
                <th class="col-1">Solicitud</th>
            </tr>
        </thead>
        <tbody>
            <!-- Bucle de solicitudes -->
            <tr class="row solicitud-row" th:each="solicitud : ${solicitudes}" th:if="${solicitud.estado == estadoFinalizado}">
                <!-- Fila de la solicitud -->
                <td class="col-2 small" th:text="${solicitud.idSolicitud}"></td>
                <td class="col-1 small" th:text="${solicitud.empresa}"></td>
                <td class="col-1 small" th:text="${solicitud.numeroConvenio}"></td>
                <td class="col-1 small" th:text="${solicitud.cicloFormativo}"></td>
                <td class="col-1 small" th:text="${solicitud.fechaInicio}"></td>
                <td class="col-2 small" th:text="${solicitud.estado}"></td>
                <!-- Columna para los detalles de los alumnos -->
                <td class="col-2">
                    <!-- Detalles de los alumnos -->
                    <details class="alumnos-details">
                        <summary><b>Mostrar alumnos</b></summary>
                        <!-- Lista de alumnos -->
                        <div class="alumnos-list">
                            <!-- Bucle de alumnos -->
                            <li class="alumno" th:each="alumno : ${solicitud?.alumnos}">
                                <span th:text="${alumno.nombre}"></span> <span th:text="${alumno.apellido}"></span>
                            </li>
                        </div>
                    </details>
                </td>
                <td class="col-2 ">
                    <details class="descargas-details">
                        <summary><b>Descargas</b></summary>
                        <!-- Lista de alumnos -->
                        <div class="descargas-list">
                            <a th:href="@{/enviarDatos/descargarSolicitudAprobadaJefatura/{idSolicitud}(idSolicitud=${solicitud.idSolicitud})}" class="btn btn-link btn-sm">
                                Aprobada Por Jefatura
                            </a>
                            <a th:href="@{/enviarDatos/descargarSolicitudFirmadaEmpresa/{idSolicitud}(idSolicitud=${solicitud.idSolicitud})}" class="btn btn-link btn-sm">
                                Firmada Por Empresa
                            </a>
                            <a th:href="@{/enviarDatos/descargarSolicitudFirmadaDireccion/{idSolicitud}(idSolicitud=${solicitud.idSolicitud})}" class="btn btn-link btn-sm">
                                Firmada Por Direccion
                            </a>                       
                        </div>
                    </details>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-propio1 mb-2 col-2 mr-2" href="../">Volver</a>
    </div>
    