<div class="container">
    <h1>Solicitudes pendientes de corregir</h1>
</div>
<div class="ml-3 mr-3">
    <table class="table">
        <thead class="thead">
            <tr class="row">
                <th class="col-3 table-header">
                    <a th:href="@{/enviarDatos/correccionSolicitudListado(sort='idSolicitud', dir=${sortField == 'idSolicitud' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Nº Solicitud <span th:text="${sortField == 'idSolicitud' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1 table-header">
                    <a th:href="@{/enviarDatos/correccionSolicitudListado(sort='empresa', dir=${sortField == 'empresa' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Empresa <span th:text="${sortField == 'empresa' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-2 table-header">
                    <a th:href="@{/enviarDatos/correccionSolicitudListado(sort='numeroConvenio', dir=${sortField == 'numeroConvenio' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Numero convenio <span th:text="${sortField == 'numeroConvenio' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-2 table-header">
                    <a th:href="@{/enviarDatos/correccionSolicitudListado(sort='cicloFormativo', dir=${sortField == 'cicloFormativo' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Ciclo Formativo <span th:text="${sortField == 'cicloFormativo' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1 table-header">
                    <a th:href="@{/enviarDatos/correccionSolicitudListado(sort='fechaInicio', dir=${sortField == 'fechaInicio' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Fecha Inicio <span th:text="${sortField == 'fechaInicio' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-2 table-header">
                    <a th:href="@{/enviarDatos/correccionSolicitudListado(sort='observaciones', dir=${sortField == 'observaciones' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Observaciones <span th:text="${sortField == 'observaciones' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1">Gestionar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Bucle de solicitudes -->
            <tr class="row solicitud-row" th:each="mensaje : ${mensajes}" th:if= "${mensaje.solicitud.estado == estadoRechazado}">
                <!-- Fila de la solicitud -->
                <td class="col-3 small" th:text="${mensaje.solicitud.idSolicitud}"></td>
                <td class="col-1 small" th:text="${mensaje.solicitud.empresa}"></td>
                <td class="col-2 small" th:text="${mensaje.solicitud.numeroConvenio}"></td>
                <td class="col-2 small" th:text="${mensaje.solicitud.cicloFormativo}"></td>
                <td class="col-1 small" th:text="${mensaje.solicitud.fechaInicio}"></td>
                <!-- Columna para las observaciones -->
                <td class="col-2 small" th:text="${mensaje.contenido}"></td>
                <td class="col-1"><a class="btn btn-outline-propio1" th:href="@{/enviarDatos/correccionSolicitud(id=${mensaje.solicitud.idSolicitud})}">Gestionar</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-propio1 mb-2 col-2 mr-2" href="../">Volver</a>
</div>
