<div class="container">
    <h1>Solicitudes Relacionadas Contigo</h1>
</div>
<div class="ml-3 mr-3">
    <table class="table">
        <thead class="thead">
            <tr class="row">
                <th class="col-2 table-header">
                    <a th:href="@{/enviarDatos/solicitudesAllProfesor(sort='idSolicitud', dir=${sortField == 'idSolicitud' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Nº Solicitud <span th:text="${sortField == 'idSolicitud' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1 table-header">
                    <a th:href="@{/enviarDatos/solicitudesAllProfesor(sort='empresa', dir=${sortField == 'empresa' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Empresa <span th:text="${sortField == 'empresa' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1 table-header">
                    <a th:href="@{/enviarDatos/solicitudesAllProfesor(sort='numeroConvenio', dir=${sortField == 'numeroConvenio' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Numero convenio <span th:text="${sortField == 'numeroConvenio' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1 table-header">
                    <a th:href="@{/enviarDatos/solicitudesAllProfesor(sort='cicloFormativo', dir=${sortField == 'cicloFormativo' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Ciclo Formativo <span th:text="${sortField == 'cicloFormativo' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-1 table-header">
                    <a th:href="@{/enviarDatos/solicitudesAllProfesor(sort='fechaInicio', dir=${sortField == 'fechaInicio' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Fecha Inicio <span th:text="${sortField == 'fechaInicio' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-2 table-header">
                    <a th:href="@{/enviarDatos/solicitudesAllProfesor(sort='estado', dir=${sortField == 'estado' ? (sortDir == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                        Estado <span th:text="${sortField == 'estado' ? (sortDir == 'asc' ? '▲' : '▼') : ''}"></span>
                    </a>
                </th>
                <th class="col-2">Alumnos</th>
                <th class="col-2">Horarios</th>
            </tr>
        </thead>
        <tbody>
            <!-- Bucle de solicitudes -->
            <tr class="row solicitud-row" th:each="solicitud : ${solicitudes}">
                <!-- Fila de la solicitud -->
                <td class="col-2 small" th:text="${solicitud.idSolicitud}"></td>
                <td class="col-1 small" th:text="${solicitud.empresa}"></td>
                <td class="col-1 small" th:text="${solicitud.numeroConvenio}"></td>
                <td class="col-1 small" th:text="${solicitud.cicloFormativo}"></td>
                <td class="col-1 small" th:text="${solicitud.fechaInicio}"></td>
                <td class="col-2 small" th:text="${solicitud.estado}"></td>
                <!-- Columna para los detalles de los alumnos -->
                <td class="col-2">
                    <!-- Detalles de los alumnos -->
                    <details class="alumnos-details">
                        <summary><b>Mostrar alumnos</b></summary>
                        <!-- Lista de alumnos -->
                        <div class="alumnos-list">
                            <!-- Bucle de alumnos -->
                            <li class="alumno" th:each="alumno : ${solicitud?.alumnos}">
                                <span th:text="${alumno.nombre}"></span> <span th:text="${alumno.apellido}"></span>
                            </li>
                        </div>
                    </details>
                </td>
                <td class="col-2 ">
                    <details class="solicitud-details">
                        <summary><b>Mostrar horarios</b></summary>
                        <span th:utext="${solicitud.horario}"></span>
                    </details>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-propio1 mb-2 col-2 mr-2" href="../">Volver</a>
</div>
