<div class="container text-center">
    <h1>DOCUMENTOS FCT'S</h1>

    <div class="row justify-content-center">
    <!------------------------            PROFESOR                    ------------------------------>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/enviarDatos/enviarDatosAJefatura">Enviar Formulario A Jefatura A Revision</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/descargarArchivo">Documentos Pendientes De Corregir Por Profesor</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/subirArchivo">Documentos Pendientes De Notificar A Empresa/Enviar A Direccion</a>
        
    <!------------------------            JEFATURA                    ------------------------------> 
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).JEFATURA}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/subirArchivo">Envio de Solicitud FCT (profesorado)</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).JEFATURA}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/descargarArchivo">Documentos Pendientes De Firmar Por Jefatura a Direccion</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).JEFATURA}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/subirArchivo">Envio de Solicitud FCT (DIRECCIÓN)</a>

    <!------------------------            DIRECCIÓN                    ------------------------------>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).DIRECTOR}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/subirArchivo">Documentos Pendientes De Firmar(profesorado)</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).DIRECTOR}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/descargarArchivo">Envio de Solicitud FCT (Jefatura)</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).DIRECTOR}" class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/documento/subirArchivo">Descargar Finalización de Solicitud</a>
    </div>
</div>
