<div class="container text-center">
    <h1>DOCUMENTOS FCT'S</h1>

    <div class="row justify-content-center">
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/profesor/datosProfesorAJefatura">Enviar Formulario A
            Jefatura A Revision</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/profesor/solicitudesRechazadasPorJefatura">Documentos
            Pendientes De Corregir Por Profesor</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/profesor/solicitudesAprobadaPorJefatura">Documentos
            Pendientes De Notificar A Empresa/Enviar A Direccion</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/profesor/solicitudesFinalizadasProfesor">Solicitudes
            Finalizadas</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).PROFESOR}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/profesor/todasSolicitudesJefaturaProfesor">¿Como van
            mis solicitudes?</a>

        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).JEFATURA}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/jefatura/solicitudesPendientesJefatura">Revision de
            Datos de Alumnos</a>
        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).JEFATURA}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/jefatura/todasSolicitudesJefatura">¿Como van mis
            solicitudes?</a>

        <a th:if="${session.usuario != null and session.usuario.rol == T(com.salvaceloisma.tfg.enumerados.RolUsuario).DIRECTOR}"
            class="btn btn-outline-propio1 mb-2 col-4 mr-2" href="/direccion/solicitudesPendientesDireccion">Documentos
            Pendientes De Firmar(profesorado)</a>
    </div>
</div>